body {
    font-family: "Comic Sans MS", fantasy;
    color: blue;
}
h1 {
    font-size: 1.3em;
    text-align: center;
}
h4 {
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
}
tr {
    border: 1px solid #ffffff;
    text-align: center;
    background-color: #59FFA0;
}
th {
    text-align: center;
    color: blue;
    background-color: #59FFA0;
}
#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #59FFA0;
}
li.bar {
    float: left;
}


li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
p {
    text-align: center;
}

